ipykernel
numpy
pandas
scikit-learn
matplotlib
openai
groq
seaborn
pydantic
dotenv
pyyaml
kafka-python
python-snappy
pyspark
pyarrow
fastavro
tqdm

# ML dependencies
xgboost
lightgbm
imbalanced-learn  # For SMOTE (class imbalance)
mlflow
scikit-learn
matplotlib
seaborn
joblib  # For model persistence